* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Laqhab';
    src: url(/fonts/!F\ Laqhab\ Black.ttf);
    font-style: normal;
    font-weight: normal;
}

header {
    background-color: rgb(49, 215, 159);
    width: 100vw;
    border-bottom: 0.1em solid rgb(19, 139, 103);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.filamenu1 {
    height: 10em;
}

#abrirMenu, #cerrarMenu {
    display: none;
}

#logo {
    font-family: 'Laqhab';
    display: flex;
    justify-content: center;
    align-items: center;
    color:saddlebrown
}

#menuNav {
    display: flex;
    flex-direction: row;
    border-top: 0.1em solid saddlebrown;
    justify-content: center;
    font-size: 2rem;
    width: 100vw;
    gap: 3em;
}

.navOptions {
    width: 6em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navOptions a {
    text-decoration: none;
    color:saddlebrown;
}    

.navOptions:hover {
    scale: 1.1;
    text-shadow: 1px 1px 2px grey;
}

.sepSup {
    height: 1.5em;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img {
    width: 30em;
}

footer {
    border-top: 0.2em solid saddlebrown;
    background-color: rgb(133, 109, 92);
    color: white;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (width < 770px) {

    .filamenu1 {
        height: 8em;
    }
}

@media (width < 600px) {

    .filamenu1 {
        height: 7em;
    }
    
    .depega {
        display: none;
    }

    #abrirMenu, #cerrarMenu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #abrirMenu img {
        height: 3em;
        width: 3em;
    }
    
    #cerrarMenu img {
        height: 2em;
        width: 2em;
    }

    #menuNav, #menuNav2, #menuNav3 {
        flex-direction: column;
        justify-content: start;
        align-items: left;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        gap: 0.6em;
        padding: 1em 0 0 1em;
        height: 100vh;
        max-width: 50vw;
        font-size: 1.5rem;
        background-color: rgb(39, 20, 6);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    #cerrarMenu, #cerrarMenu2, #cerrarMenu3 {
        display: flex;
        justify-content: center;
    }

    .navOptions {
        width: 6em;
        height: 1.5em;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
    }

    .navOptions a {
        color: white;
    }   

    .oculto {
        opacity: 0;
        visibility: hidden;
    }
    .visible {
        opacity: 1;
        visibility: visible;
    }

}

@media (width < 500px) {

    .filamenu1 {
        height: 5em;
    }
}