* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Laqhab';
    src: url(/fonts/!F\ Laqhab\ Black.ttf);
    font-style: normal;
    font-weight: normal;
}
.footrow {
    width: 100%;
}
header {
    background-color: rgb(37, 83, 72);
    width: 100vw;
    border-bottom: 0.1em solid rgb(19, 139, 103);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.filamenu1 {
    height: 10em;
}

#abrirMenu, #cerrarMenu {
    display: none;
}

#logo {
    font-family: 'Laqhab';
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuNav {
    display: flex;
    flex-direction: row;
    border-top: 0.1em double white;
    justify-content: center;
    font-size: 2rem;
    width: 100vw;
    gap: 3em;
}

.navOptions {
    width: 6em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navOptions a {
    text-decoration: none;
    color:white;
}    

.navOptions:hover {
    scale: 1.1;
    text-shadow: 1px 1px 2px grey;
}

.sepTexto {
    height: 2.5em;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.foto img {
    width: 30em;
}

body, section {
    background-color: rgb(215, 215, 215);
}

.textohome {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    color: rgb(54, 54, 54);
    font-size: 2em;
}

footer {
    border-top: 0.2em solid rgb(37, 83, 72);
    background-color: rgb(37, 83, 72);
    color: white;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infoDireccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 3em;
}

.dev {
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.contlinks {
    margin: 0;
    padding: 0;
}

.selfLink a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    padding: 0 1em 0 0;
    font-weight: bold;
}

.selfLink a:hover {
    transition: 1s;
    border-bottom: 1px solid black;
}

.enlacesCarta {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.titularCarta {
    height: 15em;
}

.imgcarta {
    height: 15em;
    width: 12em;
}
.textoTitCarta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.imgLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
}
.imgRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}
.cenefa {
    width: 40em;
}
.apartadoTexto {
    width: 8em;
}

.apartadoTexto2 {
    width: 6em;
}

.platos {
    color: rgb(54, 54, 54);
    font-size: 1.2em;
    font-weight: bold;
}

.italic {
    font-style: italic;
    font-weight: normal;
}

@media (width < 992px) {
    .titularCarta, .imgcarta {
        height: 10em;
    }
}

@media (width < 770px) {

    .filamenu1 {
        height: 8em;
    }

    .titularCarta, .imgcarta {
        height: 9em;
    }
}

@media (width < 600px) {

    .filamenu1 {
        height: 7em;
    }
    
    .depega {
        display: none;
    }

    #abrirMenu, #cerrarMenu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #abrirMenu img {
        height: 3em;
        width: 3em;
    }
    
    #cerrarMenu img {
        height: 2em;
        width: 2em;
    }

    #menuNav {
        flex-direction: column;
        justify-content: start;
        align-items: left;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        gap: 0.6em;
        padding: 1em 0 0 1em;
        height: 100vh;
        max-width: 50vw;
        font-size: 1.5rem;
        background-color: rgb(2, 19, 1);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .navOptions {
        width: 6em;
        height: 1.5em;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
    }

    .navOptions a {
        color: white;
    }   

    .oculto {
        opacity: 0;
        visibility: hidden;
    }
    .visible {
        opacity: 1;
        visibility: visible;
    }
    .textohome {
        font-size: 1em;
    }

    .titularCarta, .imgcarta {
        height: 8em;
    }

    .platos {
        font-size: 0.9em;
    }
}

@media (width < 500px) {

    .filamenu1 {
        height: 5em;
    }

    .platos {
        font-size: 0.7em;
    }
}

@media (width < 410px) {

    #abrirMenu img {
        height: 2em;
        width: 2em;
    }

    .titularCarta, .imgcarta {
        height: 6em;
    }
}